/* Establece el box model para todos los elementos */
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

/* Establece el fondo y la fuente global */
body {
    font-family: "Itim", cursive;
    font-weight: 300;
    font-style: normal;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background-image: url("IMAGES/FONDO_DEGRADADO.png"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc; 
}

/* Estilo para el contenedor principal del formulario */
.form-body {
    width: 700px;
    min-width: 500px;
    border-radius: 20px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 2px solid #FA8072 ;
    margin: 10px;
    position: relative;
}

/* Pseudo-elemento para el efecto de superposición de color */
.form-body::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    z-index: -1;
}

/* Estilo para el icono del formulario */
.form-body img {
    width: 100px;
    display: block;
    margin: 20px auto;
}

/* Estilo para el texto del formulario */
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #160800;
    margin-bottom: 25px;
    font-family: "Itim", cursive;
}

.input-container {
    position: relative;
}

.mensaje-error {
    display: none; /* Inicialmente oculta el mensaje de error */
    color: rgb(83, 5, 5);
    position: absolute;
    top: 100%; /* Se posiciona debajo del input */
    left: 50%; /* Se centra horizontalmente */
    transform: translateX(-50%); /* Se centra horizontalmente */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}


/* Estilo para los inputs del formulario */
.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    border-radius: 5px;
    font-family: "Itim", cursive;
    font-size: 1rem;
    outline: none;
    font-weight: 400;
}

/* Estilo específico para el input de contraseña */
.form-body input[type=password] {
    margin-top: 20px;
}

/* Estilo para los inputs al pasar el cursor */
.form-body input:hover {
    transition: .2s; 
    border: 3px solid #8b3300;
    color: black; 
}

/* Estilo para los botones del formulario */
.form-body button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 50px;
    width: 30%;
    background-color: beige;
    color: #160800;
    border-radius: 3px;
    font-family: "Itim", cursive;
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
}

/* Estilo para los botones al pasar el cursor */
.form-body button:hover {
    color: #160800;
    border: 3px solid #8b3300;
}

.campo {
    text-align: center;
}

.mensaje-error {
    text-align: center;
}

/* Aumenta el margen superior del botón "Administrador" */
.btn-admin {
    margin-top: 25px;
}

/* Aumenta el margen inferior del botón "Usuario" */
.btn-user {
    margin-bottom: 25px;
}
