/* ACOMODO DE OBJETOS PARA EL PRODUCTO */

/* Establece el box model para todos los elementos */
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

/* Establece el fondo y la fuente global */
body {
    font-family: "Itim", cursive;
    font-weight: 300;
    font-style: normal;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background-image: url("IMAGES/FONDO_HOME.png"), url("paper.gif");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc; 
}

/* Estilo para el contenedor principal del formulario */
.form-body {
    width: 700px;
    min-width: 500px;
    border-radius: 20px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 2px solid #FA8072 ;
    margin: 10px;
    position: relative;
}

/* Estilo para los inputs del formulario */
.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    border-radius: 5px;
    font-family: "Itim", cursive;
    font-size: 1rem;
    outline: none;
    font-weight: 400;
}

/* Estilo específico para el input de contraseña */
.form-body input[type=password] {
    margin-top: 20px;
}

/* Estilo para los inputs al pasar el cursor */
.form-body input:hover {
    transition: .2s; 
    border: 3px solid #8b3300;
    color: black; 
}



.imagen-port {
    width: 300px; /* Ancho de 50px */
    height: 300px; /* Altura de 50px */
    margin: 0 25px 0 0; /* Margen de 10px arriba, 10px en la parte derecha y 0px abajo e izquierda */
    margin-top: -80px; /* Mueve la imagen 10px hacia arriba (puedes ajustar este valor según tus necesidades) */
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    float: right; /* Alinea las imágenes a la derecha */
}


.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0; /* Alinea el elemento en la parte inferior */
    right: 0; /* Alinea el elemento en la parte derecha */
    transform: scale(0);
    background: hsla(32, 98%, 43%, 0.658);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 100px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}